
.wrapperClass{
    background-color: #669885;
    min-height: 130px;
}
.socialNetlogos{
    height: 29px;
    background-color: #669885;
}
.socialNets{

}
.servicesBlock{
    color: white;
}
.servicePic{
    height: 20px;
}
.address{
    color: white;
    font-size: 15px;
}