.wrapperClass{
    background-color:#FF6F61 ;
}
.comS{
    font-size:45px ;
    color: white;
    text-align: center;
}
.newService{
    color: white;
    font-size: 18px;


}
.heart{
    height: 120px;
}
.text{
    text-align: center;
}