.wrapperClass{
    background-color: #84B6A3;
    height: 100vh;
}
.contentClass{
    background-color: #FFFFFF;
}
.navBar{
    margin-top: 20px;
    color: white;
}
.navElement{
    padding: 5px;
    font-size: 20px;
}

.navIcon{
    margin-right: 15px;
    margin-top: 3px;
}